* {
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    font-family: 'Glass Antiqua', cursive;
    font-size: 14px;
    background: #555;
}

#title {
    margin: auto;
}

.container {
    margin: auto;
    margin-top: 10px;
    width: 500px;
    background: #222;
    border-radius: 20px;
    padding: 5px;
    overflow: auto;
}

h1 {
    font-family: 'Mystery Quest', cursive;
    text-align: center;
    color: #eee;
    font-size: 36px;
    padding: 20px;

}

h2 {
    text-align: center;
    color: #eee;
    font-size: 24px;
    padding-top: 20px;
}

h3 {
    text-align: center;
    color: #eee;
    font-size: 18px;
    padding-top: 20px;
    text-decoration: underline;
}

hr {
    width: 70%;
    border: solid 1px #eee;
}



img {
    padding: 10px;
    width: 25%; 
}

img:hover, img:focus {
   padding: 12px;
}

#instructions {
    margin: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
    font-family: 'Cinzel', serif;
    color: #eee;
    text-indent: 50px;
    line-height: 150%;
    text-align: justify;
}

.button {
    text-align: center;
    font-size: 13px;
    width: 120px;
    margin: auto;
    padding: 5px;
    background: #333;
    border-radius: 10px;
    color: #eee;
}

.button:hover {
    background: #444;
}

.score {
    float: left;
    padding: 10px;
    width: 25%;
}

.hide {
    display: none;
}


/* 
FONT BANK

font-family: 'Mystery Quest', cursive;
font-family: 'Maitree', serif;
font-family: 'Glass Antiqua', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cormorant', serif;

*/